// Colors.
$color: #572ee5
$bg_color: #fefefe
$special_color: #33c9ca

// Media Screen.
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1140px

// Images.
$icon: "../assets/icons/"
$camera: url($icon+"bg_camera.svg") no-repeat left center, url($icon+"bg_light.svg") no-repeat right center 
$tape: url($icon+"bg_tape.svg") no-repeat right center

// Icons.
$icons: logo, search, link, fav, trash, max, close, download, facebook, instagram, twitter

// Mixins.
=mode($color: $color, $bg_color:$bg_color)
	color: $color
	background-color: $bg_color
=normalize($m:0, $b:0, $p: 1rem)
	margin: $m
	border: $b
	padding: $p
.no_results
	margin: 5rem auto 1rem
.notFound
	margin: 0 auto 5rem

/*Content First*/
*
	box-sizing: border-box
	font-family: century gothic, sans-serif
	outline: none
	background-color: transparent
	text-decoration: none
	transition: all .5s ease-in
#mode
	display: none
body
	margin:0

/*Icons*/
.icon
	display: inline-block
	+normalize(.5rem,0,0)
	border-radius: .25rem
	width: 1.5rem
	height: 1.5rem
	background-repeat: no-repeat
	background-position: center
	background-size: contain
@each $ico in $icons	
	/*Logo light mode*/
	.#{$ico}
		background-image: url($icon+"icon_"+$ico+".svg")
	/*Logo hover mode*/
	.#{$ico}:hover,
	#mode:checked ~ * .#{$ico}:hover
		background-image: url($icon+"icon_"+$ico+"_hover.svg")
	/*Logo dark mode*/
	#mode:checked ~ * .#{$ico}
		background-image: url($icon+"icon_"+$ico+"_noc.svg")
.special
	color: $special_color
.button
	cursor: pointer
	+mode($color, transparent)
	+normalize(.5rem, .1rem solid $color, .5rem .75rem)
	&:hover
		+mode($bg_color, $color)

/*Webkit*/
::-webkit-scrollbar,
.scroller
	-webkit-appearance: none
	border-radius: .5rem
::-webkit-scrollbar-thumb,
.scroller
	-webkit-appearance: none
	+normalize(.5rem auto)
	border-radius: 1rem
	background: radial-gradient( ellipse at bottom right, darken($bg_color, 20%), $bg_color)

/*Navigation Bar*/
nav
	+mode
	+normalize($p: .5rem 0)
	position: sticky
	top: 0
	z-index: 2
	border-top: .2rem solid $color
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	@media screen and (min-width: $md)
		display: flex
		justify-content: space-between
		padding: .2rem 1rem
		#menu
			display: none
	@media screen and (min-width: $xl)
		justify-content: space-around
	.icon
		+normalize(0 .5rem)
		width: 3rem
		height: 3rem
	#menu
		+mode
		+normalize($p:0)
		line-height: 1.5rem
		font-size: 2rem
	/*Main Menu*/
	.menu
		+normalize
		overflow: hidden
		display: none
		position: fixed
		top: 4.2rem
		width: 100%
		height: 100vh
		+mode($bg_color, $color)
		list-style: none
		text-align: center
		@media screen and (min-width: $md)
			+normalize($p:0)
			height: auto
			position: static
			display: flex
			width: auto
			background-color: transparent
		li
			@media screen and (min-width: $md)
				border-bottom: .2rem solid transparent
				&:not(:last-child):hover
					border-bottom: .2rem solid $special_color
			&.active a
				@media screen and (min-width: $md)
					+mode(darken($bg_color, 20%), transparent)
			a
				+normalize($p: .5rem 1rem)
				display: inline-block
				color:$bg_color
				font-weight: bold
				@media screen and (min-width: $md)
					+mode($color, transparent)
				&::after
					+normalize(auto, none, 0)
					content: ''
					display: block
					width: 60%
					height: 1px
					margin-top: 1rem
					background-color: $bg_color
					@media screen and (min-width: $md)
						display: none